.contacts-section
  .contacts-section--info
    width: 20%
    height: 400px
    float: left
    margin-right: 50px
  .contacts-section--map
    width: 80%
    height: 400px
    float: left
    margin-right: 50px
